<div class="jumbotron text-center">
    <h1 class="display-6">Produção de milhão</h1>
    <p></p>
    <div class="container">
        <div class="row">
                <div class="col-sm">
                    One of three columns
                </div>
            <div class="col-sm text-right">
                <ul style="list-style-type:none;">
                    <li><label>Milho bom:</label></li>
                    <li><label>Milho ruim:</label></li>
                    <li><label>Deposito:</label></li>
                </ul>
            </div>
                <div class="col-sm text-left">
                <ul style="list-style-type:none;">
                    <li><input class="retorno"></li>
                    <li><input class="retorno"></li>
                    <li><input class="retorno" value="{{soma}}"></li>
                </ul>
                </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>
</div>      
        
<div class="conteiner text-center">

    <button type="button" class="btn_gmilho" (click)="somar()"><span>Gerar Milho</span></button>

    <div class="btn-group fixed-bottom" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">PRODUCTION</button>
        <button type="button" class="btn btn-secondary">SHOP</button>
        <button type="button" class="btn btn-secondary">STATUS</button>
    </div>
</div>
