<div class="jumbotron text-center">
    <h1 class="display-6">Produção de milhão</h1>
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul style="list-style-type:none;">
                    <li><label>Milho bom:</label></li>
                    <li><input class="retorno" value="{{deposito.qtdMilhoBom}}"></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <ul style="list-style-type:none;">
                    <li><label>Milho ruim:</label></li>
                    <li><input class="retorno" value="{{deposito.qtdMilhoRuim}}"></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <ul style="list-style-type:none;">
                    <li><label>Deposito:</label></li>
                    <li><input class="retorno" value="{{deposito.qtdTotalMilho}}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="conteiner text-center">

    <button type="button" class="btn_gmilho" (click)="somar()"><span>Gerar Milho</span></button>

    <div class="btn-group fixed-bottom" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">PRODUCTION</button>
        <button type="button" class="btn btn-secondary">SHOP</button>
        <button type="button" class="btn btn-secondary">STATUS</button>
    </div>
</div>